packrat/lib*/
data/raw/calibration/unsaturated_sel_tab_audiomoth_calibration.RDS # large file
data/raw/calibration/sel_tab_audiomoth_calibration.RDS # large file
deprecated/lbh_amplitude_est_2019.RDS # large file
data/raw/calibration/calibration_sound_for_soundmeter.wav # large file
data/raw/calibration/calibration_LM_A41A.WAV # large file
data/raw/calibration/calibration_LM_AED.WAV # large file
data/raw/calibration/calibration_LM_ABB.WAV # large file
data/raw/calibration/calibration_LM_A56.WAV # large file
data/raw/calibration/calibration_LM_A61.WAV # large file
data/raw/calibration_deprecated/calibration_LM_long_AC8.WAV # large file
data/raw/calibration_deprecated/calibration_LM_long_AED.WAV # large file
data/raw/calibration/calibration_M_AAE.WAV # large file
data/raw/calibration/calibration_LM_A3C.WAV # large file
data/raw/calibration/calibration_M_AC8.WAV # large file
data/raw/calibration_deprecated/calibration_LM_AC8.WAV # large file
data/raw/calibration_deprecated/calibration_LM_AED.WAV # large file
data/raw/calibration_deprecated/calibration_sound_for_soundmeter_48kHz.wav # large file
data/nomovement_LM_A61.WAV # large file
data/raw/calibration/calibration_LM_AAE.WAV # large file
data/raw/calibration/calibration_M_A1A.WAV # large file
data/raw/calibration/calibration_LM_A1A.WAV # large file
data/raw/calibration/calibration_M_A61.WAV # large file
data/movement_LM_A61.WAV # large file
data/raw/calibration/calibration_M_A41A.WAV # large file
data/raw/calibration/calibration_M_A3C.WAV # large file
data/raw/calibration/calibration_LM_AC8.WAV # large file
data/raw/calibration/calibration_sound_for_audiomoths_and_soundmeter.wav # large file
.Rproj.user
